.secret-message-board {
    text-align: center;
  }
  
  .secrets-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
  }
  
  .secret-message {
    background-color: #f0f0f0;
    color: black; /* Set text color to black */
    padding: 15px;
    margin: 10px;
    border-radius: 8px;
    width: 80%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  
  .post-secret-button {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    margin: 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .delete-secret-button {
    background-color: #f44336;
    color: white;
    padding: 5px 10px;
    margin-top: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .error-message {
    color: red;
  }
  